# FastAPI
fastapi==0.95.2
uvicorn==0.22.0
pydantic[dotenv]==1.10.8
pydantic[email]==1.10.8

# DB
alembic==1.11.1
SQLAlchemy==2.0.15
psycopg2-binary==2.9.5

# Config
python-multipart==0.0.6

# Scrapping
httpx==0.24.1
beautifulsoup4==4.12.2

# Security
bcrypt==4.0.1
PyJWT==2.6.0
